In [2]:
import pyodbc
import pandas as pd

conn = pyodbc.connect("DSN=drill", autocommit=True)
cursor = conn.cursor()


sql = """
SELECT lf.NDB_No, ld.Description FROM
dfs.nndb.langual lf, dfs.nndb.langdesc ld
where lf.FACTOR_CODE=ld.FACTOR_CODE limit 20
"""

dat = pd.read_sql(sql, conn)

DatabaseError: Execution failed on sql '
SELECT lf.NDB_No, ld.Description FROM
dfs.nndb.langual lf, dfs.nndb.langdesc ld
where lf.FACTOR_CODE=ld.FACTOR_CODE limit 20
': ('HY000', "[HY000] [MapR][Drill] (1040) Drill failed to execute the query: \nSELECT lf.NDB_No, ld.Description FROM\ndfs.nndb.langual lf, dfs.nndb.langdesc ld\nwhere lf.FACTOR_CODE=ld.FACTOR_CODE limit 20\n\n[30027]Query execution error. Details:[ \nPARSE ERROR: From line 3, column 1 to line 3, column 3: Table 'dfs.nndb.langual' not found\n\n\n[Error Id: c8bf6eda-fdce-4407-ada2-f10b60265691 on e15eae00049c:31010]\n] (1040) (SQLExecDirectW)")

In [1]:
dat

NameError: name 'dat' is not defined